/ck
/GPTvts
/venv
/GPTvts_voices
/config.json
/models
/index/index-tts/checkpoints/*.pth
/index/index-tts/checkpoints/*.vocab
/index/index-tts/checkpoints/*.model
/index/index-tts/checkpoints/.cache
/index/index-tts/outputs/
/index/index-tts/build/
/index/index-tts/venv/
/index/index-tts/__pycache__
/index/index-tts/*.egg-info
/index/index-tts/*.DS_Store
/index/index-tts/.idea/
/index/index-tts/.vscode/
