/ck
/GPTvts
/venv
/GPTvts_voices
/config.json
/models
/checkpoints/*.pth
/checkpoints/*.vocab
/checkpoints/*.model
/checkpoints/.cache
/outputs/
/build/
/venv/
/__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
